*{
  margin:0;
  padding:0;
  box-shadow: none;
}
.form1{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
gap: 1rem;


}
input[type="text"] {
  width: 700px;
  height: 30px;
  border-radius: 0px 0px 20px 0px;
}


.push{
  display: flex;
  flex-direction: column;
justify-content: center;

}

.save{
width: 70px;
height: 50px;
background-color: rgb(61, 112, 221);
font-size:medium;
font-weight: bold;
border-radius: 10px 10px 10px 10px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

color: white;
}
